<div class="mb-3">    
    <h1>Edit page</h1>
</div>

<%= form_with url: "/memos/" + @memo.id.to_s do |form| %>
    <div class="mb-3">
        <%= form.label :Title, for: "exampleFormControlInput1", class: "form-label" %>
        <%= form.text_field :title, class: "form-control", id: "exampleFormControlInput1", placeholder: "Title", value: @memo.title, autocomplete: "off" %>
    </div>
    <div class="mb-3">
        <%= form.label :Content, for: "exampleFormControlInput2", class: "form-label" %>
        <%= form.text_field :body, class: "form-control", id: "exampleFormControlInput2", placeholder: "Content", value: @memo.body, autocomplete: "off" %>
    </div>
    <div class="mb-3">
        <%= form.submit :submit, class: "btn btn-primary" %>
    </div>
<% end %>