<h1>New page</h1>

<%= form_with url: create_path do |form| %>
    <div class="mb-3">
        <%= form.label :Title, for: "exampleFormControlInput1", class: "form-label" %>
        <%= form.text_field :title, class: "form-control", id: "exampleFormControlInput1", placeholder: "Title", autocomplete: "off" %>
    </div>
    <div class="mb-3">
        <%= form.label :Content, for: "exampleFormControlInput2", class: "form-label" %>
        <%= form.text_field :body, class: "form-control", id: "exampleFormControlInput2", placeholder: "Content", autocomplete: "off" %>
    </div>
    <div class="mb-3">
        <%= form.label :Category, for: "exampleFormControlInput3", class: "form-label" %>
        <%= form.select :select_id, ["選択してください", ["work", 1], ["life", 2], ["hobby", 3], ["other", 4]], {include_blank: false, selected: "選択してください"}, {id: "exampleFormControlInput3", class: "form-select"} %>
    </div>
    <div class="mb-3">
        <%= form.submit :submit, class: "btn btn-primary" %>
    </div>
<% end %>